/* Font family */
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@100&family=Quicksand:wght@300&display=swap');


body {
    font-family: 'inter-tight', sans-serif;
    font-weight: 100;
    background-color: whitesmoke;
}

h1, h2, h3 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
}

/* heading and nav */

.navigation li{
    float: right;
    font-size: 150%;
    display: inline;
    padding-right: 20px;
    padding-top: 25px;
}

h1 {
    float: left;
    padding-left: 10px;
}

/* hero image and list */
#container >img {
    height: 800px;
    width: 100%;
    position: relative;
}

#container {
    position: relative;
}

.quick-facts { 
    top: 600px;
    left: 100px;
    position: absolute;
    width: 400px;
    height: 200px; 
    color: white;
    background-color: rgba(0, 0, 0, 0.825);
    border: 2px solid black;
}

ul {
    list-style-type: none;
}

.facts-list {
    padding-left: 20px;
}



/* fact-box div styling */


.fact-box {
    clear: both;
    border: 1px solid black;
    height: 400px;
    width: 100%;
    background-color: rgba(180, 180, 39, 0.06);
}