/* Font family */
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@100&family=Quicksand:wght@300&display=swap');


body {
    font-family: 'inter-tight', sans-serif;
}

h1, h2, h3 {
    font-family: 'Quicksand', sans-serif;
}

.navigation {
    float: right;
    
}

.quick-facts {
    margin-top: 400px;
    margin-left: 100px;
    position: absolute;
    width: 400px;
    height: 400px;
    border: 1px solid black;
}